In [1]:
import pandas as pd
cars=pd.read_csv("C:/Users/Navin Kumar/Desktop/coding_jupyter_notebook/DATA/cars.csv")

In [2]:
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

### DATA CLEANING

In [3]:
cars.isnull().sum()

S.No     0
model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     3
vs       0
am       0
gear     0
carb     0
dtype: int64

In [4]:
print(cars.S.No)

AttributeError: 'DataFrame' object has no attribute 'S'

In [41]:
cars["S.No"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
Name: S.No, dtype: int64

In [42]:
cars["S.No"]=cars['S.No'].astype('object')   #convert datatype of S.No column from int to object

In [43]:
cars['S.No'].dtype

dtype('O')

In [44]:
cars['S.No'] = cars['S.No'].astype('int')
cars['S.No'].dtype

dtype('int32')

In [45]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   S.No         32 non-null     int32
 1   model        32 non-null     object
 2   mpg          32 non-null     int64
 3   cyl          32 non-null     int64
 4   disp         32 non-null     float64
 5   hp           32 non-null     int64
 6   drat         32 non-null     float64
 7   wt           32 non-null     float64
 8   qsec         29 non-null     float64
 9   vs           32 non-null     int64
 10  am           32 non-null     int64
 11  gear         32 non-null     int64
 12  carb         32 non-null     int64
 13  new column1  29 non-null     float64
 14  new column2  32 non-null     int64
dtypes: float64(5), int32(1), int64(8), object(1)
memory usage: 3.8+ KB

In [46]:
cars['model']=cars['model'].astype('int')
cars['model']
#we have throwing an error and that is we can't convert a string (Mazda RX4) into an integer
#hence we try to convert it into an integer forcefully by using a inbuilt function in panda library

ValueError: invalid literal for int() with base 10: 'Mazda RX4'

In [47]:
cars['model']= pd.to_numeric(cars['model'])

ValueError: Unable to parse string "Mazda RX4" at position 0

In [ ]:
#ValueError: Unable to parse string "Mazda RX4" at position 0

In [48]:
cars['model']=pd.to_numeric(cars['model'],errors = 'coerce')
cars['model']
'''we are facing error while converting a object into float/integer by using "to_numeric" function inside pandas librabry
and this error is on first position so we convert this error into null value by using coerce'''

'we are facing error while converting a object into float/integer by using "to_numeric" function inside pandas librabry\nand this error is on first position so we convert this error into null value by using coerce'

In [49]:
cars['model']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
Name: model, dtype: float64

In [ ]:
cars.info()

In [ ]:
cars.isnull().sum()

### handling null value

In [ ]:
#Replace existing null value with something else 
cars['model']=cars['model'].fillna(200)
cars['model']

#### Drop the column

In [ ]:
cars.head()

In [8]:
cars.drop('vs')

KeyError: "['vs'] not found in axis"

#### drop function remove things in row manner

In [ ]:
cars.drop(['vs','am'],axis=1)    # axis = 1 for rows and axis = 0 for columns

In [ ]:
cars.drop(['vs','am'],axis=1, inplace = True)  
# inplace = True --> makes the change permanent

In [ ]:
cars.head()

### Rename column Name

In [ ]:
cars.rename({'model':'model No.','mpg':'MPG'},axis=1,inplace = True)
cars

In [ ]:
cars.set_index('MPG')

In [ ]:
cars.reset_index(drop=True, inplace = True)  #if we want to create column with old syntex

In [5]:
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
cars.reset_index(inplace = True)

#### Create New Column

In [7]:
cars.head()

,index,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [26]:
cars['new column1']= 2
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1
0,1,Mazda RX4,4,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2
1,2,Mazda RX4 Wag,4,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2
2,3,Datsun 710,4,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2
3,4,Hornet 4 Drive,4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2
4,5,Hornet Sportabout,4,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2
5,6,Valiant,4,6,225.0,105,2.76,3.460,NaN,1,0,3,1,2
6,7,Duster 360,3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2
7,8,Merc 240D,4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2
8,9,Merc 230,4,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2
9,10,Merc 280,4,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2
10,11,Merc 280C,4,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2
11,12,Merc 450SE,4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2
12,13,Merc 450SL,4,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2
13,14,Merc 450SLC,3,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2
14,15,Cadillac Fleetwood,3,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2
15,16,Lincoln Continental,3,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2
16,17,Chrysler Imperial,3,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2
17,18,Fiat 128,5,4,78.7,66,4.08,2.200,NaN,1,1,4,1,2
18,19,Honda Civic,5,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2
19,20,Toyota Corolla,5,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2
20,21,Toyota Corona,4,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2
21,22,Dodge Challenger,3,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2
22,23,AMC Javelin,3,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2
23,24,Camaro Z28,3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2
24,25,Pontiac Firebird,4,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2
25,26,Fiat X1-9,5,4,79.0,66,4.08,1.935,NaN,1,1,4,1,2
26,27,Porsche 914-2,5,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2
27,28,Lotus Europa,5,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2
28,29,Ford Pantera L,3,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2
29,30,Ferrari Dino,4,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2
30,31,Maserati Bora,3,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2
31,32,Volvo 142E,4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2

In [27]:
cars['new column2']=pd.Series([1,2,3,4,5,6,7,8,9,1,2,3,4,56,7,8,9])

In [28]:
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
0,1,Mazda RX4,4,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2,1.0
1,2,Mazda RX4 Wag,4,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2,2.0
2,3,Datsun 710,4,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2,3.0
3,4,Hornet 4 Drive,4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2,4.0
4,5,Hornet Sportabout,4,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2,5.0
5,6,Valiant,4,6,225.0,105,2.76,3.460,NaN,1,0,3,1,2,6.0
6,7,Duster 360,3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2,7.0
7,8,Merc 240D,4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2,8.0
8,9,Merc 230,4,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2,9.0
9,10,Merc 280,4,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2,1.0
10,11,Merc 280C,4,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2,2.0
11,12,Merc 450SE,4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2,3.0
12,13,Merc 450SL,4,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2,4.0
13,14,Merc 450SLC,3,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2,56.0
14,15,Cadillac Fleetwood,3,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2,7.0
15,16,Lincoln Continental,3,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2,8.0
16,17,Chrysler Imperial,3,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2,9.0
17,18,Fiat 128,5,4,78.7,66,4.08,2.200,NaN,1,1,4,1,2,NaN
18,19,Honda Civic,5,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2,NaN
19,20,Toyota Corolla,5,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2,NaN
20,21,Toyota Corona,4,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2,NaN
21,22,Dodge Challenger,3,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2,NaN
22,23,AMC Javelin,3,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2,NaN
23,24,Camaro Z28,3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2,NaN
24,25,Pontiac Firebird,4,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2,NaN
25,26,Fiat X1-9,5,4,79.0,66,4.08,1.935,NaN,1,1,4,1,2,NaN
26,27,Porsche 914-2,5,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2,NaN
27,28,Lotus Europa,5,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2,NaN
28,29,Ford Pantera L,3,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2,NaN
29,30,Ferrari Dino,4,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2,NaN
30,31,Maserati Bora,3,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2,NaN
31,32,Volvo 142E,4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2,NaN

In [29]:
cars.drop('new column')
cars

KeyError: "['new column'] not found in axis"

### Applying Function

In [30]:
import numpy as np
def square_root(num) :
    return int(np.sqrt(num))

In [31]:
square_root(9)

3

In [32]:
cars['mpg']=cars['mpg'].apply(square_root)

In [33]:
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
0,1,Mazda RX4,2,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2,1.0
1,2,Mazda RX4 Wag,2,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2,2.0
2,3,Datsun 710,2,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2,3.0
3,4,Hornet 4 Drive,2,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2,4.0
4,5,Hornet Sportabout,2,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2,5.0
5,6,Valiant,2,6,225.0,105,2.76,3.460,NaN,1,0,3,1,2,6.0
6,7,Duster 360,1,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2,7.0
7,8,Merc 240D,2,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2,8.0
8,9,Merc 230,2,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2,9.0
9,10,Merc 280,2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2,1.0
10,11,Merc 280C,2,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2,2.0
11,12,Merc 450SE,2,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2,3.0
12,13,Merc 450SL,2,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2,4.0
13,14,Merc 450SLC,1,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2,56.0
14,15,Cadillac Fleetwood,1,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2,7.0
15,16,Lincoln Continental,1,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2,8.0
16,17,Chrysler Imperial,1,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2,9.0
17,18,Fiat 128,2,4,78.7,66,4.08,2.200,NaN,1,1,4,1,2,NaN
18,19,Honda Civic,2,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2,NaN
19,20,Toyota Corolla,2,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2,NaN
20,21,Toyota Corona,2,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2,NaN
21,22,Dodge Challenger,1,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2,NaN
22,23,AMC Javelin,1,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2,NaN
23,24,Camaro Z28,1,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2,NaN
24,25,Pontiac Firebird,2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2,NaN
25,26,Fiat X1-9,2,4,79.0,66,4.08,1.935,NaN,1,1,4,1,2,NaN
26,27,Porsche 914-2,2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2,NaN
27,28,Lotus Europa,2,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2,NaN
28,29,Ford Pantera L,1,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2,NaN
29,30,Ferrari Dino,2,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2,NaN
30,31,Maserati Bora,1,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2,NaN
31,32,Volvo 142E,2,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2,NaN

In [35]:
cars['new column2']= cars['new column1'].apply(square_root)

In [36]:
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
0,1,Mazda RX4,2,6,160.0,110,3.90,2.620,16.46,0,1,4,4,2,1
1,2,Mazda RX4 Wag,2,6,160.0,110,3.90,2.875,17.02,0,1,4,4,2,1
2,3,Datsun 710,2,4,108.0,93,3.85,2.320,18.61,1,1,4,1,2,1
3,4,Hornet 4 Drive,2,6,258.0,110,3.08,3.215,19.44,1,0,3,1,2,1
4,5,Hornet Sportabout,2,8,360.0,175,3.15,3.440,17.02,0,0,3,2,2,1
5,6,Valiant,2,6,225.0,105,2.76,3.460,NaN,1,0,3,1,2,1
6,7,Duster 360,1,8,360.0,245,3.21,3.570,15.84,0,0,3,4,2,1
7,8,Merc 240D,2,4,146.7,62,3.69,3.190,20.00,1,0,4,2,2,1
8,9,Merc 230,2,4,140.8,95,3.92,3.150,22.90,1,0,4,2,2,1
9,10,Merc 280,2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,2,1
10,11,Merc 280C,2,6,167.6,123,3.92,3.440,18.90,1,0,4,4,2,1
11,12,Merc 450SE,2,8,275.8,180,3.07,4.070,17.40,0,0,3,3,2,1
12,13,Merc 450SL,2,8,275.8,180,3.07,3.730,17.60,0,0,3,3,2,1
13,14,Merc 450SLC,1,8,275.8,180,3.07,3.780,18.00,0,0,3,3,2,1
14,15,Cadillac Fleetwood,1,8,472.0,205,2.93,5.250,17.98,0,0,3,4,2,1
15,16,Lincoln Continental,1,8,460.0,215,3.00,5.424,17.82,0,0,3,4,2,1
16,17,Chrysler Imperial,1,8,440.0,230,3.23,5.345,17.42,0,0,3,4,2,1
17,18,Fiat 128,2,4,78.7,66,4.08,2.200,NaN,1,1,4,1,2,1
18,19,Honda Civic,2,4,75.7,52,4.93,1.615,18.52,1,1,4,2,2,1
19,20,Toyota Corolla,2,4,71.1,65,4.22,1.835,19.90,1,1,4,1,2,1
20,21,Toyota Corona,2,4,120.1,97,3.70,2.465,20.01,1,0,3,1,2,1
21,22,Dodge Challenger,1,8,318.0,150,2.76,3.520,16.87,0,0,3,2,2,1
22,23,AMC Javelin,1,8,304.0,150,3.15,3.435,17.30,0,0,3,2,2,1
23,24,Camaro Z28,1,8,350.0,245,3.73,3.840,15.41,0,0,3,4,2,1
24,25,Pontiac Firebird,2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,2,1
25,26,Fiat X1-9,2,4,79.0,66,4.08,1.935,NaN,1,1,4,1,2,1
26,27,Porsche 914-2,2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,2,1
27,28,Lotus Europa,2,4,95.1,113,3.77,1.513,16.90,1,1,5,2,2,1
28,29,Ford Pantera L,1,8,351.0,264,4.22,3.170,14.50,0,1,5,4,2,1
29,30,Ferrari Dino,2,6,145.0,175,3.62,2.770,15.50,0,1,5,6,2,1
30,31,Maserati Bora,1,8,301.0,335,3.54,3.570,14.60,0,1,5,8,2,1
31,32,Volvo 142E,2,4,121.0,109,4.11,2.780,18.60,1,1,4,2,2,1

### (lambda function) : no need to write the conventional function , instead of that we can use lembda function

In [40]:
cars['new column1']= cars['qsec'].apply(lambda num : (np.sqrt(num)))
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
0,1,Mazda RX4,2,6,160.0,110,3.90,2.620,16.46,0,1,4,4,4.057093,1
1,2,Mazda RX4 Wag,2,6,160.0,110,3.90,2.875,17.02,0,1,4,4,4.125530,1
2,3,Datsun 710,2,4,108.0,93,3.85,2.320,18.61,1,1,4,1,4.313931,1
3,4,Hornet 4 Drive,2,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4.409082,1
4,5,Hornet Sportabout,2,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4.125530,1
5,6,Valiant,2,6,225.0,105,2.76,3.460,NaN,1,0,3,1,NaN,1
6,7,Duster 360,1,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3.979950,1
7,8,Merc 240D,2,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4.472136,1
8,9,Merc 230,2,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4.785394,1
9,10,Merc 280,2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4.277850,1
10,11,Merc 280C,2,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4.347413,1
11,12,Merc 450SE,2,8,275.8,180,3.07,4.070,17.40,0,0,3,3,4.171331,1
12,13,Merc 450SL,2,8,275.8,180,3.07,3.730,17.60,0,0,3,3,4.195235,1
13,14,Merc 450SLC,1,8,275.8,180,3.07,3.780,18.00,0,0,3,3,4.242641,1
14,15,Cadillac Fleetwood,1,8,472.0,205,2.93,5.250,17.98,0,0,3,4,4.240283,1
15,16,Lincoln Continental,1,8,460.0,215,3.00,5.424,17.82,0,0,3,4,4.221374,1
16,17,Chrysler Imperial,1,8,440.0,230,3.23,5.345,17.42,0,0,3,4,4.173727,1
17,18,Fiat 128,2,4,78.7,66,4.08,2.200,NaN,1,1,4,1,NaN,1
18,19,Honda Civic,2,4,75.7,52,4.93,1.615,18.52,1,1,4,2,4.303487,1
19,20,Toyota Corolla,2,4,71.1,65,4.22,1.835,19.90,1,1,4,1,4.460942,1
20,21,Toyota Corona,2,4,120.1,97,3.70,2.465,20.01,1,0,3,1,4.473254,1
21,22,Dodge Challenger,1,8,318.0,150,2.76,3.520,16.87,0,0,3,2,4.107311,1
22,23,AMC Javelin,1,8,304.0,150,3.15,3.435,17.30,0,0,3,2,4.159327,1
23,24,Camaro Z28,1,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3.925557,1
24,25,Pontiac Firebird,2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,4.129165,1
25,26,Fiat X1-9,2,4,79.0,66,4.08,1.935,NaN,1,1,4,1,NaN,1
26,27,Porsche 914-2,2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,4.086563,1
27,28,Lotus Europa,2,4,95.1,113,3.77,1.513,16.90,1,1,5,2,4.110961,1
28,29,Ford Pantera L,1,8,351.0,264,4.22,3.170,14.50,0,1,5,4,3.807887,1
29,30,Ferrari Dino,2,6,145.0,175,3.62,2.770,15.50,0,1,5,6,3.937004,1
30,31,Maserati Bora,1,8,301.0,335,3.54,3.570,14.60,0,1,5,8,3.820995,1
31,32,Volvo 142E,2,4,121.0,109,4.11,2.780,18.60,1,1,4,2,4.312772,1

### Let's see the time to Execute funtion

In [52]:
%%timeit
cars['new column1']=cars['qsec'].apply(lambda num : np.sqrt(num))

152 µs ± 21.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [54]:
%%timeit
def square_root(num) :
    return np.sqrt(num)
cars['new column1']=cars['qsec'].apply(square_root)

198 µs ± 16.1 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

#### Sorting Values

In [55]:
cars.sort_values(by='carb')

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
25,26,NaN,2,4,79.0,66,4.08,1.935,NaN,1,1,4,1,NaN,1
19,20,NaN,2,4,71.1,65,4.22,1.835,19.90,1,1,4,1,4.460942,1
2,3,NaN,2,4,108.0,93,3.85,2.320,18.61,1,1,4,1,4.313931,1
3,4,NaN,2,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4.409082,1
5,6,NaN,2,6,225.0,105,2.76,3.460,NaN,1,0,3,1,NaN,1
17,18,NaN,2,4,78.7,66,4.08,2.200,NaN,1,1,4,1,NaN,1
20,21,NaN,2,4,120.1,97,3.70,2.465,20.01,1,0,3,1,4.473254,1
18,19,NaN,2,4,75.7,52,4.93,1.615,18.52,1,1,4,2,4.303487,1
22,23,NaN,1,8,304.0,150,3.15,3.435,17.30,0,0,3,2,4.159327,1
24,25,NaN,2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,4.129165,1
31,32,NaN,2,4,121.0,109,4.11,2.780,18.60,1,1,4,2,4.312772,1
8,9,NaN,2,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4.785394,1
7,8,NaN,2,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4.472136,1
27,28,NaN,2,4,95.1,113,3.77,1.513,16.90,1,1,5,2,4.110961,1
4,5,NaN,2,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4.125530,1
26,27,NaN,2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,4.086563,1
21,22,NaN,1,8,318.0,150,2.76,3.520,16.87,0,0,3,2,4.107311,1
11,12,NaN,2,8,275.8,180,3.07,4.070,17.40,0,0,3,3,4.171331,1
12,13,NaN,2,8,275.8,180,3.07,3.730,17.60,0,0,3,3,4.195235,1
13,14,NaN,1,8,275.8,180,3.07,3.780,18.00,0,0,3,3,4.242641,1
23,24,NaN,1,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3.925557,1
28,29,NaN,1,8,351.0,264,4.22,3.170,14.50,0,1,5,4,3.807887,1
0,1,NaN,2,6,160.0,110,3.90,2.620,16.46,0,1,4,4,4.057093,1
14,15,NaN,1,8,472.0,205,2.93,5.250,17.98,0,0,3,4,4.240283,1
10,11,NaN,2,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4.347413,1
9,10,NaN,2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4.277850,1
6,7,NaN,1,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3.979950,1
1,2,NaN,2,6,160.0,110,3.90,2.875,17.02,0,1,4,4,4.125530,1
16,17,NaN,1,8,440.0,230,3.23,5.345,17.42,0,0,3,4,4.173727,1
15,16,NaN,1,8,460.0,215,3.00,5.424,17.82,0,0,3,4,4.221374,1
29,30,NaN,2,6,145.0,175,3.62,2.770,15.50,0,1,5,6,3.937004,1
30,31,NaN,1,8,301.0,335,3.54,3.570,14.60,0,1,5,8,3.820995,1

In [56]:
cars.sort_values(by='carb',ascending=False)

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new column1,new column2
30,31,NaN,1,8,301.0,335,3.54,3.570,14.60,0,1,5,8,3.820995,1
29,30,NaN,2,6,145.0,175,3.62,2.770,15.50,0,1,5,6,3.937004,1
0,1,NaN,2,6,160.0,110,3.90,2.620,16.46,0,1,4,4,4.057093,1
10,11,NaN,2,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4.347413,1
28,29,NaN,1,8,351.0,264,4.22,3.170,14.50,0,1,5,4,3.807887,1
23,24,NaN,1,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3.925557,1
1,2,NaN,2,6,160.0,110,3.90,2.875,17.02,0,1,4,4,4.125530,1
15,16,NaN,1,8,460.0,215,3.00,5.424,17.82,0,0,3,4,4.221374,1
14,15,NaN,1,8,472.0,205,2.93,5.250,17.98,0,0,3,4,4.240283,1
16,17,NaN,1,8,440.0,230,3.23,5.345,17.42,0,0,3,4,4.173727,1
9,10,NaN,2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4.277850,1
6,7,NaN,1,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3.979950,1
11,12,NaN,2,8,275.8,180,3.07,4.070,17.40,0,0,3,3,4.171331,1
12,13,NaN,2,8,275.8,180,3.07,3.730,17.60,0,0,3,3,4.195235,1
13,14,NaN,1,8,275.8,180,3.07,3.780,18.00,0,0,3,3,4.242641,1
4,5,NaN,2,8,360.0,175,3.15,3.440,17.02,0,0,3,2,4.125530,1
27,28,NaN,2,4,95.1,113,3.77,1.513,16.90,1,1,5,2,4.110961,1
26,27,NaN,2,4,120.3,91,4.43,2.140,16.70,0,1,5,2,4.086563,1
24,25,NaN,2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,4.129165,1
22,23,NaN,1,8,304.0,150,3.15,3.435,17.30,0,0,3,2,4.159327,1
21,22,NaN,1,8,318.0,150,2.76,3.520,16.87,0,0,3,2,4.107311,1
18,19,NaN,2,4,75.7,52,4.93,1.615,18.52,1,1,4,2,4.303487,1
7,8,NaN,2,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4.472136,1
8,9,NaN,2,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4.785394,1
31,32,NaN,2,4,121.0,109,4.11,2.780,18.60,1,1,4,2,4.312772,1
20,21,NaN,2,4,120.1,97,3.70,2.465,20.01,1,0,3,1,4.473254,1
19,20,NaN,2,4,71.1,65,4.22,1.835,19.90,1,1,4,1,4.460942,1
5,6,NaN,2,6,225.0,105,2.76,3.460,NaN,1,0,3,1,NaN,1
25,26,NaN,2,4,79.0,66,4.08,1.935,NaN,1,1,4,1,NaN,1
17,18,NaN,2,4,78.7,66,4.08,2.200,NaN,1,1,4,1,NaN,1
3,4,NaN,2,6,258.0,110,3.08,3.215,19.44,1,0,3,1,4.409082,1
2,3,NaN,2,4,108.0,93,3.85,2.320,18.61,1,1,4,1,4.313931,1

#### Filtering Data

In [59]:
cars['hp'].unique()

array([110,  93, 175, 105, 245,  62,  95, 123, 180, 205, 215, 230,  66,
        52,  65,  97, 150,  91, 113, 264, 335, 109], dtype=int64)

In [61]:
cars['hp'].value_counts()

hp
110    3
175    3
180    3
245    2
123    2
150    2
66     2
65     1
335    1
264    1
113    1
91     1
97     1
230    1
52     1
93     1
215    1
205    1
95     1
62     1
105    1
109    1
Name: count, dtype: int64

In [62]:
cars['hp']== 4

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
Name: hp, dtype: bool

In [64]:
cars[cars['hp']== 4]

Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []

In [65]:
cars['hp'].dtype

dtype('int64')

In [ ]:
i am not getting the values in the column, it is becoz hp has different data

In [77]:
cars[cars['hp']== 4]

Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []

In [79]:
filtered_cars = cars[cars['hp'] == 4]
filtered_cars

Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []

In [80]:
print(cars['hp'].dtype)

int64

In [81]:
cars['hp'] = cars['hp'].astype(int)
filtered_cars = cars[cars['hp'] == 4]
print(filtered_cars)

Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []

In [82]:
cars['hp'] = cars['hp'].str.strip().astype(int)
filtered_cars = cars[cars['hp'] == 4]
print(filtered_cars)

AttributeError: Can only use .str accessor with string values!

In [84]:
# Check the data type of the 'hp' column
print("Data type of 'hp' column:", cars['hp'].dtype)

# Convert 'hp' to numeric, forcing errors to NaN
cars['hp'] = pd.to_numeric(cars['hp'], errors='coerce')

# Check for any NaN values introduced by conversion
print("Number of NaN values in 'hp' column after conversion:", cars['hp'].isna().sum())

# Filter rows where 'hp' equals 4
filtered_cars = cars[cars['hp'] == 4]
print(filtered_cars)

Data type of 'hp' column: int32
Number of NaN values in 'hp' column after conversion: 0

Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []

In [85]:
import pandas as pd

# Assuming `cars` is your DataFrame
# Check the data type of the 'hp' column
print("Data type of 'hp' column:", cars['hp'].dtype)

# Convert 'hp' to numeric if not already
cars['hp'] = pd.to_numeric(cars['hp'], errors='coerce')

# Filter rows where 'hp' equals 4
filtered_cars = cars[cars['hp'] == 4]
print(filtered_cars)

Data type of 'hp' column: int32
Empty DataFrame
Columns: [S.No, model, mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb, new column1, new column2]
Index: []